*{
    margin: 0px;
    padding: 0px;
}

#fundo{

background-image: url("../IMG/fundo_sun.gif");




}


.lampada{

display: flex;
margin: auto



}



.bloco{

background-color: rgb(167, 202, 101);

width: 70px;
padding: 20px;
display: flex;
margin: auto 280px;


}





button{


background-color: rgb(66, 66, 66);
width: 80px;
height: 100px;
border-radius: 5px;
margin-bottom: 4px ;

}

